.tape-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.tape-cell {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.head {
    background-color: yellow;
}

.add-cell {
    background-color: lightgreen;
    cursor: pointer;
}

.delete-cell {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.tape-cell:hover .delete-cell {
    display: block;
}
